#gf_001 {

	.legends {width:100%; float:left;}
		.legendA span {margin-top:10px!important;} 
	.legendA {width:50%; padding-top:0.3em; color:#999; text-transform: uppercase; display:inline; float:left;}
	.legendB {width:50%; padding-top:0.3em; color:#999; text-transform: uppercase; display:inline; float:left; text-align: right;}

	@media only screen and (min-width: 645px) and (max-width: 900px) {

	}

	@media only screen and (max-width: 645px) {
		.legendA {width:47.5%; padding-left:2.5%; }
		.legendB {width:47.5%; padding-right:2.5%;}
	}
	
}
