<!-- NO COMMENT IF CINEMATIC -->
<!-- <div class="cinematic-element fullsize-element ">
<div class="aspect-ratio-wrapper sixteennine"> -->

<!-- NO COMMENT IF MEDIUM -->
<!-- <div class="fullsize-element"> -->
	<!-- <div class="media_medium--container container"> -->

		<div id="gf_001">

			<div class="grfxhead">Graphic headline</div>
			<div class="grfxintro">Little intro for the graphic. Both headline and intro can be commented or deleted if they're not needed.</div>

			<div class="grfxcontainer stretch">
				<div id="container_001">
				  <img src="http://news.nationalgeographic.com/content/dam/news/2015/12/23/climate_change_beforeandafter/01_climatechange_aralsea_A.jpg">
				  <img src="http://news.nationalgeographic.com/content/dam/news/2015/12/23/climate_change_beforeandafter/01_climatechange_aralsea_B.jpg">
				</div>
				<div class="legends">
					<div class="legendA">Before</div>
					<div class="legendB">After</div>
				</div>

			</div>	

			<div class="source">NG STAFF</br>SOURCE: NATIONAL GEOGRAPHIC</div>

		</div>

<!-- NO COMMENT IF MEDIUM OR CINEMATIC-->
<!-- </div></div> -->


